.contactum_card {
  background-color: var(--card);
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 hsla(0,0%,51%,.1);
  padding: 24px;
  margin-bottom: 30px;
}

.contactum_card_head {
    border-bottom: 1px solid #ececec;
    margin-bottom: 26px;
    padding-bottom: 16px;
}

.contactum_card_head .title {
    color: #1e1f21 !important;
    margin: 0;
}


.contactum_card_head .text {
    margin-top: 10px;
}

.contactum_card .text {
    font-size: 15px;
    line-height: 1.6;
}
